.header h2{
    width: 100%;
    text-align: center;
}
.header h2 img{
    width: 30%;
    height: 50%;
}
.header ul{
    display: none;
}
.content aside{
    width: 100%;
    height: auto;
}
.content section{
    width: 100%;
    height: auto;
}

.content aside ul{width: 100%;}
.content section ul{width: 100%;}
.content sdctinon li:nth-child(1){height: 300px;}
.content sdctinon li:nth-child(2){height: 300px;}

.content section li:nth-child(1),
.content section li:nth-child(2),
.content section li:nth-child(3),
.content section li:nth-child(4){
    width: 100%;
    height: 300px;
    font-size: 5em;
    line-height: 10em;
}