.content aside{
    width: 30%;
}
.content section{
    width: 70%;
}

.content section li:nth-child(1){
    width: 50%;
    line-height: 14em;
}
.content section li:nth-child(2){
    width: 50%;
    line-height: 14em;
}
.content section li:nth-child(3){
    width: 50%;
    line-height: 14em;
}
.content section li:nth-child(4){
    width: 50%;
    line-height: 14em;
}
